@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid black;
  border-radius: 5px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

form,
form>* {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


input,
select {
  padding: 3px;
  text-align: right;
  border-radius: 5px;
  border: none;
}

.btn {
  margin: 5px 0;
  background-color: var(--blue);
  padding: 5px;
  border: none;
  outline: 0;
  color: white;
  border-radius: 5px;
}

option {
  text-align: center;
}

.btn:active {
  transform: scale(0.8)
}

.error {
  color: rgb(10, 0, 0);
  display: none;
}


.result>* {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}


.gst {
  color: #00ffc8
}

.total {
  color: #fff;
}